/* Write your CSS here */
.git-poular-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-heading {
  color: #0f172a;
  font-family: 'Lobster';
}
.ul-list {
  display: flex;
  flex-wrap: wrap;
}
